<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mislab.core.systemcore.mapper.CostMapper">

    <resultMap type="com.mislab.core.systemcore.pojo.entity.Cost" id="EnterpriseBusiness">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="industryId" column="industry_id" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insertCost" keyProperty="id" useGeneratedKeys="true">
        insert into cost(id,name ,supplier_proportion,industry_id)
        values (#{id},#{name},#{costJson},#{industryId})
    </insert>
    <update id="updateCost" keyProperty="id" useGeneratedKeys="true">
        update cost
        set name  = #{name},supplier_proportion=#{costJson},industry_id = #{industryId}
        where id = #{costId}
    </update>
</mapper>
