<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mislab.core.systemcore.mapper.EnterpriseBusinessMapper">

    <resultMap type="com.mislab.core.systemcore.pojo.dto.EnterpriseBusinessDTO" id="EnterpriseBusiness">
        <result property="businessRatio" column="business_ratio" jdbcType="DOUBLE"/>
        <result property="generalTaxpayerRatio" column="general_taxpayer_ratio" jdbcType="DOUBLE"/>
        <result property="smallscaleTaxpayerRatio" column="smallscale_taxpayer_ratio" jdbcType="DOUBLE"/>
        <result property="naturalPersonRatio" column="natural_person_ratio" jdbcType="DOUBLE"/>
    </resultMap>

    <resultMap id="EnterpriseBusinessInfo" type="com.mislab.core.systemcore.pojo.vo.EnterpriseBusinessTaxVO">
        <result property="businessName" column="name" jdbcType="VARCHAR"/>
        <association property="taxRate" javaType="com.mislab.core.systemcore.pojo.entity.TaxRate">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="taxpayerQualification" column="taxpayer_qualification"/>
            <result property="invoiceType" column="invoice_type"/>
            <result property="salesTaxpayer" column="sales_taxpayer"/>
            <result property="taxRate" column="tax_rate"/>
        </association>

        <association property="enterpriseBusiness" javaType="com.mislab.core.systemcore.pojo.entity.EnterpriseBusiness">
            <id property="id" column="id"/>
            <result property="enterpriseKey" column="enterprise_key"/>
            <result property="businessRatio" column="business_ratio"/>
            <result property="generalTaxpayerRatio" column="general_taxpayer_ratio"/>
            <result property="smallscaleTaxpayerRatio" column="smallscale_taxpayer_ratio"/>
            <result property="naturalPersonRatio" column="natural_person_ratio"/>
        </association>
    </resultMap>

    <sql id="enterpriseBusinessInfoClo">
        business
        .
        name
        , tax_rate.tax_rate, enterprise_business.*
    </sql>

    <!--根据enterpriseKey放入数据-->
    <insert id="setByEnterpriseKey" useGeneratedKeys="true" keyProperty="id">
        insert into enterprise_business(business_ratio, general_taxpayer_ratio, smallscale_taxpayer_ratio,
                                        natural_person_ratio)
            value (#{business_ratio},#{general_taxpayer_ratio},#{smallscale_taxpayer_ratio},#{smallscale_taxpayer_ratio},#{natural_person_ratio})
        where enterprise_key = #{enterpriseKey}
    </insert>

    <!--  根据enterpriseKey获取相关信息  -->
    <select id="getByEnterpriseKey" resultMap="EnterpriseBusiness">
        select enterprise_key, business_ratio, general_taxpayer_ratio, smallscale_taxpayer_ratio, natural_person_ratio
        from enterprise_business
        where enterprise_key = #{enterpriseKey}
    </select>


    <!-- 获取企业的经营信息 -->
    <select id="getEnterpriseBusinessInfoList" resultMap="EnterpriseBusinessInfo">
        select business.name, enterprise_business.*, tax_rate.*
        from tax_rate
                 INNER JOIN (enterprise_business INNER JOIN business
            on business.id = enterprise_business.business_id) on tax_rate.business_id = enterprise_business.business_id
        where enterprise_key = #{enterpriseKey};
    </select>
</mapper>
